* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer { 
    font-size: 10px;
}

.icons { 
    transition: 2s ease;
}

.icons:hover { 
    transform: rotate(360deg);
}

.informacion-computacion { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 4em;   
    gap: 1em;
    flex-wrap: wrap;
}

.contenedor-modal { 
    display: flex;
    gap: 1em;
}

.contenedor-modal .img-modal { 
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}

.img-compu { 
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.informacion-computacion h1 { 
    font-size: 25px;
    font-weight: bold;
}
.informacion-computacion p { 
    font-size: 15px;
    text-align: justify;
    width: 500px;
}

.informacion-computacion button { 
    background: rgb(25, 121, 246);
    padding: 5px;
    width: 300px;
    height: 30px;
    margin-top: 3em;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    transition: 1s ease;
}

.informacion-computacion button:hover { 
    background-color: blue;
}

.galery { 
    padding: 5em;
}

.developer { 
    display: flex;
    padding: 5em;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.developer .container-app { 
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: space-around;

}

.developer .container-app .app-text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-align: center;
}

.developer .container-app .app-text p { 
    text-align: justify;
    margin-bottom: 3em;
    width: 400px;
}

.img-cel { 
    height: 300px;
    width: 300px;
    object-fit: contain;
    transition: 1s ease;
}

.img-cel:hover { 
    transform: translateX(10px);
}

.Frameworks { 
    display: flex;
    flex-direction: column;
}

.container-frame { 
    display: flex;
    padding: 2em;
    gap: 1em;
    justify-content: space-around;
}